doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/stylesheets/foundation.min.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/javascripts/foundation.min.js')
    script(src='http://cdn.binaryjs.com/0/binary.js')
    script(src='javascripts/keymaster.min.js')
    script(src='javascripts/moment.js')
    script(src='javascripts/recorder.js')
    script(src='javascripts/app.js')
    script
      try {
        window.binaryClient = new BinaryClient('ws://' + window.location.hostname + ':#{port}');
      } catch (e) {
        console.log(e);
      }

      window.guid = GUID();

      binaryClient.on('open', function() {
        broadcastclient = binaryClient.createStream({hash: guid, type: 'read'});

        broadcastclient.on('data', function(data) {
          console.log("New Data from Server!");
          //- console.log(new Blob(data));
          var url = URL.createObjectURL(new Blob(data));
          var div = document.createElement('div');
          var au = document.createElement('audio');
          var hf = document.createElement('div');

          au.controls = true;
          au.autoplay = true;
          au.src = url;
          hf.innerHTML = moment(new Date()).format("h:mm:ss a");
          div.appendChild(au);
          div.appendChild(hf);
          $('#list').prepend(div);
        });

        broadcastclient.on('end', function() {
          console.log("end");
        });

        broadcastclient.on('close', function() {
          console.log("close");
        });
      });

      $(document).ready(function() {
        key('k', function() {
          keyRecord();
        });

        $('#talk').mousedown(function() {
          buttonRecord();
        });

        $('#talk').mouseup(function() {
          stopRecord();
        });

        $('#pushToTalk').keyup("changeData", function() {
          console.log($('#pushToTalk').val());
          key($('#pushToTalk').val(), function() {
            keyRecord();
          });
        });

        try {
          // webkit shim
          window.AudioContext = window.AudioContext || window.webkitAudioContext;
          navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
          window.URL = window.URL || window.webkitURL;

          audio_context = new AudioContext;
          console.log('Audio context set up.');
          console.log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
        } catch (e) {
          alert('No web audio support in this browser!');
        }

        navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
          console.log('No live audio input: ' + e);
        });
      });
  body
    block content

