doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/stylesheets/foundation.min.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/javascripts/foundation.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='http://cdn.binaryjs.com/0/binary.js')
    script(src='javascripts/keymaster.min.js')
    script(src='javascripts/recorder.js')
    script(src='javascripts/app.js')
    script
      window.binaryClient = new BinaryClient('ws://' + window.location.hostname + ':#{port}');

      binaryClient.on('open', function() {
        binaryClient.on('stream', function(stream, meta) {
          stream.on('data', function(data) {
            console.log("New Data from Server!");
            //- console.log(new Blob([new DataView(data)], { type: 'audio/wav' }));
            //- console.log(new Blob(data));
            var url = URL.createObjectURL(new Blob(data));
            var li = document.createElement('li');
            var au = document.createElement('audio');
            var hf = document.createElement('a');

            au.controls = true;
            au.autoplay = true;
            au.src = url;
            hf.href = url;
            hf.download = new Date().toISOString() + '.wav';
            hf.innerHTML = hf.download;
            li.appendChild(au);
            li.appendChild(hf);
            $('#list').append(li);
          });
        });
      });

      //- window.socket = io.connect('http://localhost');
      //- socket.on('news', function (data) {
      //-   console.log(new Blob(data));
      //-   //- var url = URL.createObjectURL(data);
      //-   //- var li = document.createElement('li');
      //-   //- var au = document.createElement('audio');
      //-   //- var hf = document.createElement('a');

      //-   //- au.controls = true;
      //-   //- au.src = url;
      //-   //- hf.href = url;
      //-   //- hf.download = new Date().toISOString() + '.wav';
      //-   //- hf.innerHTML = hf.download;
      //-   //- li.appendChild(au);
      //-   //- li.appendChild(hf);
      //-   //- $('#list').append(li);
      //-   //- socket.emit('my other event', { my: 'data' });
      //- });


      $(document).ready(function() {
        key('k', function() {
          startRecording();
        });

        $('#talk').mousedown(function() {
          startRecording();
        });

        $('#talk').mouseup(function() {
          console.log('Handler for .mouseup() called.');
        });

        try {
          // webkit shim
          window.AudioContext = window.AudioContext || window.webkitAudioContext;
          navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
          window.URL = window.URL || window.webkitURL;

          audio_context = new AudioContext;
          console.log('Audio context set up.');
          console.log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
        } catch (e) {
          alert('No web audio support in this browser!');
        }

        navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
          console.log('No live audio input: ' + e);
        });
      });
  body
    block content

